.search-form-wrapper {
  width: min(80vw, var(--max-width));
  margin: 0 auto;
  form {
    display: flex;
    flex-flow: column;
    padding: 1.2rem;
    h1 {
      color: var(--cl-2);
      font-size: clamp(2rem, 5vw, 4rem);
      text-align: center;
    }
    .form-radio-btns {
      display: flex;
      justify-content: space-around;
    }
    &>* {
      margin: .35rem 0;
    }
    input[type="text"] {
      font-size: 1rem;
      padding: .25rem .5rem;
    }
    button {
      font-size: 1rem;
      padding: .25rem 0;
    }
  }
}